<div class="container p-5">
  <div class="row justify-content-center mb-4 mb-xl-5">
    <div class="col-12 col-xl-10 text-center">
      <h1 class="display-2">Find your space.</h1>
      <p class="lead text-muted mt-4 px-md-6">
        <span class="font-weight-bold">12,000+</span> coworking spaces with
        desks, offices &amp; meeting rooms in
        <span class="font-weight-bold">165+</span> countries. Discover and
        reserve space today.
      </p>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-12"></div>
  </div>
</div>
