<!-- Path: src/partials/grid/row.html -->
<!-- 
    .container.my-3>.row>.col*2>.text-bg-light.py-2.px-3.my-2>span.fw-semibold.pe-3{2}+span>lorem2
    .container.my-3>.row>.col*3>.text-bg-light.py-2.px-3.my-2>span.fw-semibold.pe-3{3}+span>lorem2
    .container.my-3>.row>.col*4>.text-bg-light.py-2.px-3.my-2>span.fw-semibold.pe-3{4}+span>lorem2
    .container.my-3>.row>.col*5>.text-bg-light.py-2.px-3.my-2>span.fw-semibold.pe-3{5}+span>lorem2
    .container.my-3>.row>.col*6>.text-bg-light.py-2.px-3.my-2>span.fw-semibold.pe-3{6}+span>lorem2
    .container.my-3>.row>.col*7>.text-bg-light.py-2.px-3.my-2>span.fw-semibold.pe-3{7}+span>lorem2
    .container.my-3>.row>.col*8>.text-bg-light.py-2.px-3.my-2>span.fw-semibold.pe-3{8}+span>lorem2
    .container.my-3>.row>.col*9>.text-bg-light.py-2.px-3.my-2>span.fw-semibold.pe-3{9}+span>lorem2
    .container.my-3>.row>.col*10>.text-bg-light.py-2.px-3.my-2>span.fw-semibold.pe-3{10}+span>lorem2
    .container.my-3>.row>.col*11>.text-bg-light.py-2.px-3.my-2>span.fw-semibold.pe-3{11}+span>lorem2
    .container.my-3>.row>.col*12>.text-bg-light.py-2.px-3.my-2>span.fw-semibold.pe-3{12}+span>lorem2
-->

<!-- 2 columns grid -->
<div class="container my-3">
  <div class="row">
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">2</span><span>Lorem, ipsum.</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">2</span><span>Molestiae, quae.</span>
      </div>
    </div>
  </div>
</div>

<!-- 3 columns grid -->
<div class="container my-3">
  <div class="row">
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">3</span><span>Lorem, ipsum.</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">3</span><span>Numquam, alias.</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">3</span
        ><span>Repudiandae, aperiam.</span>
      </div>
    </div>
  </div>
</div>

<!-- 4 columns grid -->
<div class="container my-3">
  <div class="row">
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">4</span><span>Lorem, ipsum.</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">4</span><span>Vel, distinctio.</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">4</span><span>Accusantium, alias?</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">4</span><span>Aspernatur, quis.</span>
      </div>
    </div>
  </div>
</div>

<!-- 5 columns grid -->
<div class="container my-3">
  <div class="row">
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">5</span><span>Lorem, ipsum.</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">5</span><span>Esse, inventore!</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">5</span><span>Eos, nobis.</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">5</span><span>Ratione, corporis.</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">5</span><span>Iste, eveniet!</span>
      </div>
    </div>
  </div>
</div>

<!-- 6 columns grid -->
<div class="container my-3">
  <div class="row">
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">6</span><span>Lorem, ipsum.</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">6</span
        ><span>Inventore, excepturi!</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">6</span><span>Unde, accusamus!</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">6</span><span>Animi, ratione.</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">6</span><span>Numquam, enim.</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">6</span><span>Ab, maiores.</span>
      </div>
    </div>
  </div>
</div>

<!-- 7 columns grid -->
<div class="container my-3">
  <div class="row">
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">7</span><span>Lorem, ipsum.</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">7</span><span>Quia, eligendi?</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">7</span><span>Assumenda, eius.</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">7</span><span>Explicabo, minus?</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">7</span><span>Voluptate, quaerat?</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">7</span><span>Vero, velit.</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">7</span><span>Magnam, nisi?</span>
      </div>
    </div>
  </div>
</div>

<!-- 8 columns grid -->
<div class="container my-3">
  <div class="row">
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">8</span><span>Lorem, ipsum.</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">8</span><span>Doloribus, illum.</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">8</span><span>Voluptatem, dicta!</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">8</span><span>Perspiciatis, iure?</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">8</span><span>Quae, deleniti.</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">8</span><span>Quam, voluptatem.</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">8</span
        ><span>Voluptatem, voluptatum!</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">8</span><span>Ut, vel?</span>
      </div>
    </div>
  </div>
</div>

<!-- 9 columns grid -->
<div class="container my-3">
  <div class="row">
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">9</span><span>Lorem, ipsum.</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">9</span><span>Totam, velit!</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">9</span><span>Suscipit, fugiat?</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">9</span
        ><span>Tempore, repellendus?</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">9</span><span>Error, assumenda.</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">9</span><span>Amet, incidunt.</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">9</span><span>Optio, molestiae?</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">9</span
        ><span>Voluptates, praesentium.</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">9</span><span>Aut, doloremque.</span>
      </div>
    </div>
  </div>
</div>

<!-- 10 columns grid -->
<div class="container my-3">
  <div class="row">
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">10</span><span>Lorem, ipsum.</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">10</span
        ><span>Doloremque, quaerat.</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">10</span><span>Dolorem, error?</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">10</span><span>Et, eum.</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">10</span><span>Maiores, ad?</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">10</span
        ><span>Asperiores, obcaecati.</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">10</span><span>Eveniet, expedita.</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">10</span><span>Odit, alias.</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">10</span><span>Excepturi, neque?</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">10</span
        ><span>Exercitationem, minima.</span>
      </div>
    </div>
  </div>
</div>

<!-- 11 columns grid -->
<div class="container my-3">
  <div class="row">
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">11</span><span>Lorem, ipsum.</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">11</span
        ><span>Recusandae, laboriosam?</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">11</span><span>Eaque, explicabo!</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">11</span
        ><span>Repudiandae, tempora!</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">11</span><span>At, voluptates.</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">11</span><span>Libero, veniam?</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">11</span><span>Perferendis, sed?</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">11</span
        ><span>Exercitationem, sit.</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">11</span><span>Vero, quae!</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">11</span><span>Id, laboriosam.</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">11</span
        ><span>Numquam, cupiditate.</span>
      </div>
    </div>
  </div>
</div>

<!-- 12 columns grid -->
<div class="container my-3">
  <div class="row">
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">12</span><span>Lorem, ipsum.</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">12</span><span>Doloremque, dicta.</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">12</span><span>Iusto, animi!</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">12</span><span>Ducimus, minus.</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">12</span><span>Quia, molestias?</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">12</span><span>Iure, alias.</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">12</span
        ><span>Deleniti, consequatur.</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">12</span><span>Pariatur, a.</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">12</span><span>Atque, laborum.</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">12</span><span>Temporibus, enim!</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">12</span><span>Eaque, libero.</span>
      </div>
    </div>
    <div class="col">
      <div class="text-bg-light py-2 px-3 my-2">
        <span class="fw-semibold pe-3">12</span><span>Neque, in!</span>
      </div>
    </div>
  </div>
</div>

<!-- 
      bootstrap theme colors
      light
      dark
      danger
      success
      warning
      info
      primary
      secondary
  
      .container.my-3>.row>.col-1*12>.text-bg-light.py-2.px-3>span.fw-semibold.pe-3{12 columns grid}
      .container.my-3>.row>.col-2*6>.text-bg-dark.py-2.px-3>span.fw-semibold.pe-3{6 columns grid}
      .container.my-3>.row>.col-3*4>.text-bg-danger.py-2.px-3>span.fw-semibold.pe-3{4 columns grid}
      .container.my-3>.row>.col-4*3>.text-bg-success.py-2.px-3>span.fw-semibold.pe-3{3 columns grid}
      .container.my-3>.row>.col-6*2>.text-bg-warning.py-2.px-3>span.fw-semibold.pe-3{2 columns grid}
   -->

<!-- 12 columns grid -->
<div class="container my-3">
  <div class="row">
    <div class="col-1">
      <div class="text-bg-light py-2 px-3">
        <span class="fw-semibold pe-3">12 columns grid</span>
      </div>
    </div>
    <div class="col-1">
      <div class="text-bg-light py-2 px-3">
        <span class="fw-semibold pe-3">12 columns grid</span>
      </div>
    </div>
    <div class="col-1">
      <div class="text-bg-light py-2 px-3">
        <span class="fw-semibold pe-3">12 columns grid</span>
      </div>
    </div>
    <div class="col-1">
      <div class="text-bg-light py-2 px-3">
        <span class="fw-semibold pe-3">12 columns grid</span>
      </div>
    </div>
    <div class="col-1">
      <div class="text-bg-light py-2 px-3">
        <span class="fw-semibold pe-3">12 columns grid</span>
      </div>
    </div>
    <div class="col-1">
      <div class="text-bg-light py-2 px-3">
        <span class="fw-semibold pe-3">12 columns grid</span>
      </div>
    </div>
    <div class="col-1">
      <div class="text-bg-light py-2 px-3">
        <span class="fw-semibold pe-3">12 columns grid</span>
      </div>
    </div>
    <div class="col-1">
      <div class="text-bg-light py-2 px-3">
        <span class="fw-semibold pe-3">12 columns grid</span>
      </div>
    </div>
    <div class="col-1">
      <div class="text-bg-light py-2 px-3">
        <span class="fw-semibold pe-3">12 columns grid</span>
      </div>
    </div>
    <div class="col-1">
      <div class="text-bg-light py-2 px-3">
        <span class="fw-semibold pe-3">12 columns grid</span>
      </div>
    </div>
    <div class="col-1">
      <div class="text-bg-light py-2 px-3">
        <span class="fw-semibold pe-3">12 columns grid</span>
      </div>
    </div>
    <div class="col-1">
      <div class="text-bg-light py-2 px-3">
        <span class="fw-semibold pe-3">12 columns grid</span>
      </div>
    </div>
  </div>
</div>

<!-- 6 columns grid -->
<div class="container my-3">
  <div class="row">
    <div class="col-2">
      <div class="text-bg-dark py-2 px-3">
        <span class="fw-semibold pe-3">6 columns grid</span>
      </div>
    </div>
    <div class="col-2">
      <div class="text-bg-dark py-2 px-3">
        <span class="fw-semibold pe-3">6 columns grid</span>
      </div>
    </div>
    <div class="col-2">
      <div class="text-bg-dark py-2 px-3">
        <span class="fw-semibold pe-3">6 columns grid</span>
      </div>
    </div>
    <div class="col-2">
      <div class="text-bg-dark py-2 px-3">
        <span class="fw-semibold pe-3">6 columns grid</span>
      </div>
    </div>
    <div class="col-2">
      <div class="text-bg-dark py-2 px-3">
        <span class="fw-semibold pe-3">6 columns grid</span>
      </div>
    </div>
    <div class="col-2">
      <div class="text-bg-dark py-2 px-3">
        <span class="fw-semibold pe-3">6 columns grid</span>
      </div>
    </div>
  </div>
</div>

<!-- 4 columns grid -->
<div class="container my-3">
  <div class="row">
    <div class="col-3">
      <div class="text-bg-danger py-2 px-3">
        <span class="fw-semibold pe-3">4 columns grid</span>
      </div>
    </div>
    <div class="col-3">
      <div class="text-bg-danger py-2 px-3">
        <span class="fw-semibold pe-3">4 columns grid</span>
      </div>
    </div>
    <div class="col-3">
      <div class="text-bg-danger py-2 px-3">
        <span class="fw-semibold pe-3">4 columns grid</span>
      </div>
    </div>
    <div class="col-3">
      <div class="text-bg-danger py-2 px-3">
        <span class="fw-semibold pe-3">4 columns grid</span>
      </div>
    </div>
  </div>
</div>

<!-- 3 columns grid -->
<div class="container my-3">
  <div class="row">
    <div class="col-4">
      <div class="text-bg-success py-2 px-3">
        <span class="fw-semibold pe-3">3 columns grid</span>
      </div>
    </div>
    <div class="col-4">
      <div class="text-bg-success py-2 px-3">
        <span class="fw-semibold pe-3">3 columns grid</span>
      </div>
    </div>
    <div class="col-4">
      <div class="text-bg-success py-2 px-3">
        <span class="fw-semibold pe-3">3 columns grid</span>
      </div>
    </div>
  </div>
</div>

<!-- 2 columns grid -->
<div class="container my-3">
  <div class="row">
    <div class="col-6">
      <div class="text-bg-warning py-2 px-3">
        <span class="fw-semibold pe-3">2 columns grid</span>
      </div>
    </div>
    <div class="col-6">
      <div class="text-bg-warning py-2 px-3">
        <span class="fw-semibold pe-3">2 columns grid</span>
      </div>
    </div>
  </div>
</div>

<!-- 
      .container.my-3>.row>(.col-2>.text-bg-light.py-2.px-3>span.fw-semibold.pe-3{2})+(.col-10>.text-bg-light.py-2.px-3>span.fw-semibold.pe-3{10})
      .container.my-3>.row>(.col-4>.text-bg-dark.py-2.px-3>span.fw-semibold.pe-3{4})+(.col-8>.text-bg-dark.py-2.px-3>span.fw-semibold.pe-3{8})
      .container.my-3>.row>(.col-8>.text-bg-success.py-2.px-3>span.fw-semibold.pe-3{8})+(.col-4>.text-bg-success.py-2.px-3>span.fw-semibold.pe-3{4})
      .container.my-3>.row>(.col-7>.text-bg-danger.py-2.px-3>span.fw-semibold.pe-3{7})+(.col-5>.text-bg-danger.py-2.px-3>span.fw-semibold.pe-3{5})
      .container.my-3>.row>(.col-5>.text-bg-warning.py-2.px-3>span.fw-semibold.pe-3{5})+(.col-7>.text-bg-warning.py-2.px-3>span.fw-semibold.pe-3{7})
      .container.my-3>.row>(.col-3>.text-bg-info.py-2.px-3>span.fw-semibold.pe-3{3})+(.col-9>.text-bg-info.py-2.px-3>span.fw-semibold.pe-3{9})
      .container.my-3>.row>(.col-9>.text-bg-primary.py-2.px-3>span.fw-semibold.pe-3{9})+(.col-3>.text-bg-primary.py-2.px-3>span.fw-semibold.pe-3{3})
  -->

<!-- 2 & 10 col grid -->
<div class="container my-3">
  <div class="row">
    <div class="col-2">
      <div class="text-bg-light py-2 px-3">
        <span class="fw-semibold pe-3">2</span>
      </div>
    </div>
    <div class="col-10">
      <div class="text-bg-light py-2 px-3">
        <span class="fw-semibold pe-3">10</span>
      </div>
    </div>
  </div>
</div>

<!-- 4 & 8 col grid -->
<div class="container my-3">
  <div class="row">
    <div class="col-4">
      <div class="text-bg-dark py-2 px-3">
        <span class="fw-semibold pe-3">4</span>
      </div>
    </div>
    <div class="col-8">
      <div class="text-bg-dark py-2 px-3">
        <span class="fw-semibold pe-3">8</span>
      </div>
    </div>
  </div>
</div>

<!-- 8 & 4 col grid -->
<div class="container my-3">
  <div class="row">
    <div class="col-8">
      <div class="text-bg-success py-2 px-3">
        <span class="fw-semibold pe-3">8</span>
      </div>
    </div>
    <div class="col-4">
      <div class="text-bg-success py-2 px-3">
        <span class="fw-semibold pe-3">4</span>
      </div>
    </div>
  </div>
</div>

<!-- 7 & 5 col grid -->
<div class="container my-3">
  <div class="row">
    <div class="col-7">
      <div class="text-bg-danger py-2 px-3">
        <span class="fw-semibold pe-3">7</span>
      </div>
    </div>
    <div class="col-5">
      <div class="text-bg-danger py-2 px-3">
        <span class="fw-semibold pe-3">5</span>
      </div>
    </div>
  </div>
</div>

<!-- 5 & 7 col grid -->
<div class="container my-3">
  <div class="row">
    <div class="col-5">
      <div class="text-bg-warning py-2 px-3">
        <span class="fw-semibold pe-3">5</span>
      </div>
    </div>
    <div class="col-7">
      <div class="text-bg-warning py-2 px-3">
        <span class="fw-semibold pe-3">7</span>
      </div>
    </div>
  </div>
</div>

<!-- 3 & 9 col grid -->
<div class="container my-3">
  <div class="row">
    <div class="col-3">
      <div class="text-bg-info py-2 px-3">
        <span class="fw-semibold pe-3">3</span>
      </div>
    </div>
    <div class="col-9">
      <div class="text-bg-info py-2 px-3">
        <span class="fw-semibold pe-3">9</span>
      </div>
    </div>
  </div>
</div>

<!-- 9 & 3 col grid -->
<div class="container my-3">
  <div class="row">
    <div class="col-9">
      <div class="text-bg-primary py-2 px-3">
        <span class="fw-semibold pe-3">9</span>
      </div>
    </div>
    <div class="col-3">
      <div class="text-bg-primary py-2 px-3">
        <span class="fw-semibold pe-3">3</span>
      </div>
    </div>
  </div>
</div>
