<div class="container">
  <div class="card my-3 text-bg-primary">
    <div class="card-body">container</div>
  </div>
</div>

<div class="container-sm">
  <div class="card my-3 text-bg-secondary">
    <div class="card-body">container-sm</div>
  </div>
</div>

<div class="container-md">
  <div class="card my-3 text-bg-success">
    <div class="card-body">container-md</div>
  </div>
</div>

<div class="container-lg">
  <div class="card my-3 text-bg-danger">
    <div class="card-body">container-lg</div>
  </div>
</div>

<div class="container-xl">
  <div class="card my-3 text-bg-warning">
    <div class="card-body">container-xl</div>
  </div>
</div>

<div class="container-fluid">
  <div class="card my-3 text-bg-info">
    <div class="card-body">container-fluid</div>
  </div>
</div>
<!-- 
    vertical alignment
        align-items-start
        align-items-center
        align-items-end
        align-items-baseline
        align-items-stretch

    horizontal alignment
        justify-content-start
        justify-content-center
        justify-content-end
        justify-content-between
        justify-content-around
        justify-content-evenly
  -->
