<!--
   .container.my-3>.row.align-items-end.g-0>(.col-sm-6.col-md-4.col-lg-3>.text-bg-warning.py-2.px-3>span.fw-semibold.pe-3{2})+(.col-sm-6.col-md-8.col-lg-9>.text-bg-danger.py-2.px-3>.row>.col*3>.text-bg-dark.p-3{$})
   .container.my-3>.row.align-items-center.g-0>(.col-sm-6.col-md-8.col-lg-9>.text-bg-warning.py-2.px-3>span.fw-semibold.pe-3{2})+(.col-sm-6.col-md-4.col-lg-3>.text-bg-danger.py-2.px-3>.row>.col*3>.text-bg-dark.p-3{$})

   style guide
-->

<div class="container my-3">
  <div class="row justify-content-md-center g-0">
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="text-bg-warning py-5 px-3">
        <span class="fw-semibold pe-3">2</span>
      </div>
    </div>
    <div class="col-sm-6 col-md-7 col-lg-8">
      <div class="text-bg-danger py-2 px-3">
        <div class="row">
          <div class="col">
            <div class="text-bg-dark p-3">1</div>
          </div>
          <div class="col">
            <div class="text-bg-dark p-3">2</div>
          </div>
          <div class="col">
            <div class="text-bg-dark p-3">3</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container my-3">
  <div class="row align-items-center g-0">
    <div class="col-sm-6 col-md-8 col-lg-9">
      <div class="text-bg-warning py-2 px-3">
        <div class="row">
          <div class="col-lg-6">
            <div class="text-bg-dark p-3 my-2">1</div>
          </div>
          <div class="col">
            <div class="text-bg-dark p-3 my-2">2</div>
          </div>
          <div class="col">
            <div class="text-bg-dark p-3 my-2">3</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="text-bg-danger py-4 text-center">
        <span class="fw-semibold">2</span>
        <span class="vr mx-3 align-middle"></span>
        <span class="fw-light fst-italic text-capitalize"
          >light & italic text</span
        >
      </div>
    </div>
  </div>
</div>
