<div class="row gx-3 gy-5">
  <div class="col-6 col-md-4">
    <div class="card">
      <img
        src="https://www.pt.com.tr/uploads/products/big/3566072201655896122.jpg"
        class="card-img-top"
        alt="macbook"
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Add to Basket</a>
      </div>
    </div>
  </div>

  <div class="col-6 col-md-4">
    <div class="card">
      <img
        src="https://www.pt.com.tr/uploads/products/big/19151968521655896108.jpg"
        class="card-img-top"
        alt="macbook"
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Add to Basket</a>
      </div>
    </div>
  </div>

  <div class="col-6 col-md-4">
    <div class="card">
      <img
        src="https://www.pt.com.tr/uploads/products/big/16624834911655896111.jpg"
        class="card-img-top"
        alt="macbook"
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Add to Basket</a>
      </div>
    </div>
  </div>

  <div class="col-6 col-md-4">
    <div class="card">
      <img
        src="https://www.pt.com.tr/uploads/products/big/16624834911655896111.jpg"
        class="card-img-top"
        alt="macbook"
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Add to Basket</a>
      </div>
    </div>
  </div>

  <div class="col-6 col-md-4">
    <div class="card">
      <img
        src="https://www.pt.com.tr/uploads/products/big/16624834911655896111.jpg"
        class="card-img-top"
        alt="macbook"
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Add to Basket</a>
      </div>
    </div>
  </div>

  <div class="col-6 col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Add to Basket</a>
      </div>
    </div>
  </div>
</div>
